@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #508C7E;
  --color-accent: #8CB3A0;
  --color-background: #F5F1E6;
}

:root {
  --bg-color: #F5F1E6;
  --text-color: #003366;
}

:root.dark {
  --bg-color: #003366;
  --text-color: #ffffff;
}

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}