@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #508C7E;
  --color-accent: #8CB3A0;
  --color-background: #F5F1E6;
}

@layer base {
  body {
    @apply bg-background text-gray-900 antialiased;
  }
}